<% include ../partials/hearder %>
<div class = "container">
	<h1>
		Profile
	</h1>
	<div class = "row">
		<div class = "card" style = "border: 0px">
			<div class = "col-8">
				<% if(user.avatar){ %>
					<img src = "<%= user.avatar %>" alt = "user profile image" style = "width:300px;height:300px"> 
				<% }else{ %>
					<img src = "https://tse3.mm.bing.net/th?id=OIP.q4alwYjAuniYpii0VU46dAHaHa&pid=Api&P=0&w=300&h=300" 
						  style = "width:300px;height:300px" alt = "user profile image">
				<% } %>
				<% if(user.firstName && user.lastName){ %>
					<h3 class = "card-title"><%= user.firstName + " " + user.lastName %></h3>
				<% }else{ %>
					<h3 class = "card-title"><%= user.username %></h3>
				<% } %>
				<div>
					<a class = "card-link" href = "mailto:<%= user.email %>"><%= user.email %></a>
				</div>
			</div>
		</div>
		<div class = "col-4">
			<h3>
				<%=  user.username %>'s Campgrounds:
			</h3>
			<ul>
				<% campgrounds.forEach(function(campground){ %>
					<li><a href = "/campground/<%= campground.id %>"><%= campground.name %></a></li>
				<% }) %>
			</ul>
		</div>
	</div>
</div>
<% include ../partials/footer %>