<% include ../partials/hearder %>

<div class = "container">
	<div class = "row">
		<div class = "card">
			<div class = "col-8">
				<% if(user.firstName && user.lastName){ %>
					<h1><%= user.firstName + " " + user.lastName %></h1>
				<% }else{ %>
					<h1><%= user.username %></h1>
				<% } %>
				<% if(user.avatar){ %>
					<img src = "<%= user.avatar %>" alt = "user profile image"> 
				<% }else{ %>
					<img src = "https://tse3.mm.bing.net/th?id=OIP.q4alwYjAuniYpii0VU46dAHaHa&pid=Api&P=0&w=300&h=300" 
						 alt = "user profile image">
				<% } %>
				<div class = "card footer">
					<a href = "mailto:<%= user.email %>"><%= user.email %></a>
				</div>
			</div>
		</div>
		<div class = "col-4">
			<h3>
				<%=  user.username %>'s Campgrounds:
			</h3>
			<ul>
				<% campgrounds.forEach(function(campground){ %>
					<li><a href = "/campground/<%= campground.id %>"><%= campground.name %></a></li>
				<% }) %>
			</ul>
		</div>
	</div>
</div>
<% include ../partials/footer %>